{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">

<head>

    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'src/logo150.png' %}" type="image/x-icon">
    <title>case added!</title>
    
    <link rel="icon" href="{% static 'src/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body style="background-color: #f2f2f2;">

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Suchart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcoll"
            aria-controls="navcoll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div style="height:100%;">
        <div class="row h-100">
            <div class="col-sm-12 my-auto text-center">
                        <img src="../../static/src/check.png" alt="check" style="height: 150px;width: 150px;">
                        <h2 class="card-title display-4 my-4 py-2">Done!</h2>
                        <p class="lead mb-4 pb-2 px-md-5 mx-md-5">Thank you for your help.</p>
                        <a href="{% url 'index'%}" role="button" class="btn btn btn-outline-success btn-lg">back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>