<!DOCTYPE html>
<html>
  {% load static %}

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'homepage/style.css' %}"
  />

  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'src/logo150.png' %}" type="image/x-icon" />
    <title>Raise a new Case</title>

    <script type="text/javascript"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body style="background-color: #f2f2f2">
    <!-- nav bar -->
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"
      style="position: relative"
    >
      <a class="navbar-brand" href="/">Suchart</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navcoll"
        aria-controls="navcoll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div id="loader" style="background-image: url(../../static/src/Eclipse-1s-300px.gif);background-position: center;background-size: 100%;background-repeat: no-repeat;display: none;">
    </div>
    <!-- Form -->
    <div style="height: auto" id="form_body">
      <form
        method="POST"
        action="/new_case/"
        id="raise"
        style="padding: 5% 25%"
      >
        {% csrf_token %}
        <h2 class="display-3">Raise a new case</h2>
        <br />
        <div style="padding-top: 20px">
          <div class="form-group required">
            <label for="fr_name" class="control-label">Fraud's Name</label>
            <input
              type="text"
              class="form-control"
              id="fr_name"
              placeholder="First name - Last name"
              name="name"
              required
            />
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="nat_id">National ID</label>
            <input
              type="text"
              class="form-control"
              id="nat_id"
              name="nat_id"
              pattern = "^\d{13}$"
              title="Invalid National ID"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-7 required">
              <label for="goods" class="control-label">Goods</label>
              <input
                type="text"
                class="form-control"
                id="goods"
                name="goods"
                required
              />
            </div>
            <div class="form-group col-md required">
              <label for="price" class="control-label">Price</label>
              <div class="input-group">
                <input
                  type="number"
                  step="0.01"
                  min="0"
                  class="form-control"
                  id="price"
                  name="price"
                  placeholder="xxx.xx"
                  aria-describedby="baht"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="baht">฿</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="acc">Bank account</label>
              <input
                type="text"
                class="form-control"
                id="acc"
                name="b_acc"
                placeholder="acc no."
                pattern = "^\d{10}$|^\d{12}$|^\d{14}$"
                title= "Invalid Bank Account Number"
              />
            </div>

            <script>

              function bank_opt(value){
                
                $("#other_con").css({ display: "none" });
                $('#other_op').removeAttr('required');

                if(value == "other"){
                  $("#other_con").css({ display: "block" });
                  $('#other_op').attr('required', true);
                }
              }

              function focus_other(){
                $("#b_name").value = $("#other_op").value;
              }
              console.log($("#b_name").value);
            </script>


            <div class="form-group col-md">
              <label for="b_name">Bank name</label>
              <select type="text"class="form-control" id="b_name" name="b_name" onchange="bank_opt(value);">
                <option selected disabled value=" ">select bank</option>
                <option value="ธนาคารกรุงเทพ">ธนาคารกรุงเทพ</option>
                <option value="ธนาคารกรุงไทย">ธนาคารกรุงไทย</option>
                <option value="ธนาคารกรุงศรี">ธนาคารกรุงศรี</option>
                <option value="ธนาคารทหารไทย">ธนาคารทหารไทย</option>
                <option value="ธนาคารกสิกรไทย">ธนาคารกสิกรไทย</option>
                <option value="ธนาคารไทยพานิชย์">ธนาคารไทยพานิชย์</option>
                <option value="ธนาคารออมสิน">ธนาคารออมสิน</option>
                <option value="ธนาคารยูโอบี">ธนาคารยูโอบี</option>
                <option value="ธนาคารสแตนดาร์ดชาร์เตอร์">ธนาคารสแตนดาร์ดชาร์เตอร์</option>
                <option value="other">อื่นๆ</option>
              </select>
            </div>
          
            <div class="form-group col-md-5" style="display: none;" id="other_con">
              <label for="other_op" style="visibility: hidden;">Enter name here</label>
              <input type="text" class="form-control" name="other_op" id="other_op" oninput="focus_other();"/>
            </div>
          
          </div>


          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="tran_date">Transaction date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="tran_date"
                name="trans_date"
                max="6000-12-31T23:59"
                onclick="this.blur();"
              />
            </div>
            <div class="form-group col-md">
              <label for="province">Province</label>

              <select type="text" class="form-control" id="province" name="province">
                <option selected disabled value=" ">select province</option>
                <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
                <option value="กระบี่">กระบี่ </option>
                <option value="กาญจนบุรี">กาญจนบุรี </option>
                <option value="กาฬสินธุ์">กาฬสินธุ์ </option>
                <option value="กำแพงเพชร">กำแพงเพชร </option>
                <option value="ขอนแก่น">ขอนแก่น</option>
                <option value="จันทบุรี">จันทบุรี</option>
                <option value="ฉะเชิงเทรา">ฉะเชิงเทรา </option>
                <option value="ชัยนาท">ชัยนาท </option>
                <option value="ชัยภูมิ">ชัยภูมิ </option>
                <option value="ชุมพร">ชุมพร </option>
                <option value="ชลบุรี">ชลบุรี </option>
                <option value="เชียงใหม่">เชียงใหม่ </option>
                <option value="เชียงราย">เชียงราย </option>
                <option value="ตรัง">ตรัง </option>
                <option value="ตราด">ตราด </option>
                <option value="ตาก">ตาก </option>
                <option value="นครนายก">นครนายก </option>
                <option value="นครปฐม">นครปฐม </option>
                <option value="นครพนม">นครพนม </option>
                <option value="นครราชสีมา">นครราชสีมา </option>
                <option value="นครศรีธรรมราช">นครศรีธรรมราช </option>
                <option value="นครสวรรค์">นครสวรรค์ </option>
                <option value="นราธิวาส">นราธิวาส </option>
                <option value="น่าน">น่าน </option>
                <option value="นนทบุรี">นนทบุรี </option>
                <option value="บึงกาฬ">บึงกาฬ</option>
                <option value="บุรีรัมย์">บุรีรัมย์</option>
                <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </option>
                <option value="ปทุมธานี">ปทุมธานี </option>
                <option value="ปราจีนบุรี">ปราจีนบุรี </option>
                <option value="ปัตตานี">ปัตตานี </option>
                <option value="พะเยา">พะเยา </option>
                <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </option>
                <option value="พังงา">พังงา </option>
                <option value="พิจิตร">พิจิตร </option>
                <option value="พิษณุโลก">พิษณุโลก </option>
                <option value="เพชรบุรี">เพชรบุรี </option>
                <option value="เพชรบูรณ์">เพชรบูรณ์ </option>
                <option value="แพร่">แพร่ </option>
                <option value="พัทลุง">พัทลุง </option>
                <option value="ภูเก็ต">ภูเก็ต </option>
                <option value="มหาสารคาม">มหาสารคาม </option>
                <option value="มุกดาหาร">มุกดาหาร </option>
                <option value="แม่ฮ่องสอน">แม่ฮ่องสอน </option>
                <option value="ยโสธร">ยโสธร </option>
                <option value="ยะลา">ยะลา </option>
                <option value="ร้อยเอ็ด">ร้อยเอ็ด </option>
                <option value="ระนอง">ระนอง </option>
                <option value="ระยอง">ระยอง </option>
                <option value="ราชบุรี">ราชบุรี</option>
                <option value="ลพบุรี">ลพบุรี </option>
                <option value="ลำปาง">ลำปาง </option>
                <option value="ลำพูน">ลำพูน </option>
                <option value="เลย">เลย </option>
                <option value="ศรีสะเกษ">ศรีสะเกษ</option>
                <option value="สกลนคร">สกลนคร</option>
                <option value="สงขลา">สงขลา </option>
                <option value="สมุทรสาคร">สมุทรสาคร </option>
                <option value="สมุทรปราการ">สมุทรปราการ </option>
                <option value="สมุทรสงคราม">สมุทรสงคราม </option>
                <option value="สระแก้ว">สระแก้ว </option>
                <option value="สระบุรี">สระบุรี </option>
                <option value="สิงห์บุรี">สิงห์บุรี </option>
                <option value="สุโขทัย">สุโขทัย </option>
                <option value="สุพรรณบุรี">สุพรรณบุรี </option>
                <option value="สุราษฎร์ธานี">สุราษฎร์ธานี </option>
                <option value="สุรินทร์">สุรินทร์ </option>
                <option value="สตูล">สตูล </option>
                <option value="หนองคาย">หนองคาย </option>
                <option value="หนองบัวลำภู">หนองบัวลำภู </option>
                <option value="อำนาจเจริญ">อำนาจเจริญ </option>
                <option value="อุดรธานี">อุดรธานี </option>
                <option value="อุตรดิตถ์">อุตรดิตถ์ </option>
                <option value="อุทัยธานี">อุทัยธานี </option>
                <option value="อุบลราชธานี">อุบลราชธานี</option>
                <option value="อ่างทอง">อ่างทอง </option>
              </select>

            </div>
          </div>
          <div class="form-group">
            <label for="site">Website</label>
            <input type="url" class="form-control" id="site" name="website" />
          </div>
          <div class="form-group">
            <label for="detail">Details</label>
            <input
              type="text"
              style="height: 60px;"
              class="form-control"
              id="detail"
              name="detail"
            />
          </div>
          <script>

            $('form').submit(function () {
                $("button[type='submit']", this)
                  .html("Please Wait...")
                  .attr('disabled', 'disabled');
                return true;
              });

          </script>
          <button type="submit" class="btn btn-primary btn-block" value="OK" id="">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
