html {
  scroll-behavior: smooth;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}

.custom-select { 
  background-image:rgba(255, 255, 255, 0.500) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

.loading {
    height: 30px;
    width: 30px;
    display: none;
}


